* {}


header {
    width: 100%;
    padding: 10px;
    background-color: lightcoral;
}

nav a {
    color: #ffffff;
    font-family: sans-serif;
    text-decoration: none;
    padding: 4px;
    display: inline-block;
    background-color: lightcoral
}

header nav a:hover {
    color: #000000;
}

nav {
    text-align: left;
    margin: 0 2em 0 0;
    background-color: lightcoral;
}


footer {
    Display: flex;
    flex-basis: 1;
    outline-style: double;
    outline-color: grey;
    padding: 5px;
    background-color: #dcdcdc;
}

/*****FORSIDE******************/


    #forside .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
    }

        #forside .container {
            flex-grow: 1;
            flex-basis: 400px;
        }

        #forside .column {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
        }

#forside .bottom{
    align-self: flex-end;
}

#forside img {
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
}



/****BØGER**********************/

#boeger {}



/****VEGANER********************/

#veganer {}



/****ANIMALRESCUE***************/

#animalrescue {}



/****SOMMERFUGLEARVEN***********/

#sommerfuglearven {}



/****ENUVIDENDESDAGBOG***********/

#enuvidendesdagbog {}



/****SPIND***********************/

#spind {}



/****FORFATTER*******************/

section #forfatter {
    margin: 200px;
}



/****FORLAGET********************/

#forlaget {}



/****HJERTELIGELINKS*************/

#hjerteligelinks {}
